/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      height: auto;
      padding: 20px 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .nav-links {
      position: static;
      transform: none;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-12%);
    }

    .logo img {
        width: 60%;
        display: block;
        margin: 0 auto;
        
    }
  
    .waitlist {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      

    }
  
    .waitlist button, .waitlist2 button {
      padding: 10px 20px;
      font-size: 14px;
      margin: 0 auto;
      
    }
/* 
    .waitlist2 {
   
     translate: translateX(-25%) !important ;
    }
   */
    /* #hero {
      height: auto;
    }
   */
    #backgroundVideo, #foregroundVideo {
      width: 90%;
    }
  
    .about-section {
        display: flex;
      flex-direction: column;
      margin: 10%;
      justify-content: center;
      
    }
  
    .about-image, .about-content {
      width: 100%;
      padding: 0;
      margin: auto;
      align-self: center;
    }
    .about-image img {
      margin-left: 40px;
    }
  
    .about-title {
      font-size: 2em;
      text-align: center;
      margin-top: 10%;
    }
  
    .about-text {
      font-size: 1.2em;
    }
  
    .learn-more-btn {
        width: auto;
        max-width: 150px;
      padding: 10px 20px;
      font-size: 1.2em;
       displaY: block;
        margin: 0 auto;
    }
  
    .card {
      width: 55%;
      margin: 10px auto;
    }
  
    .footer-content {
        display:flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-left, .footer-right {
      margin: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-center {
      margin: 5%;
    }

    .footer-left , .footer-right {
        align-self: center;
    }
  
    .feature {
      width: 90%;
    }
  }
  .footer-left img , .footer-right img {
    width: 50%;
    height:auto ;
}

  
  /* Medium devices (tablets, 768px and up) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .nav-links {
      font-size: 1.2rem;
    }
  
    .about-section {
      flex-direction: column;
      margin: 10%;
    }
  
    .about-image, .about-content {
      width: 100%;
      padding: 0;
    }
  
    .card {
      width: 70%;
      margin: 20px auto;
    }
  
    .feature {
      width: 45%;
    }
    
  }
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .nav-links {
      font-size: 1.3rem;
    }
  
    .about-section {
      margin: 10%;
    }
  
    .card {
      width: 60%;
    }
  
    .waitlist2 {
      transform: translateY(20px) !important;
      transform: translateX(-40px) !important;
      
    }
  
    .about-content {
      transform: translateX(50px) ;
    }
  
    .about-title {
      transform: translateX(125px) ;
    }
  
    .learn-more-btn {
      transform: translateX(50%) ; 
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 993px) {
    .container {
      max-width: 1140px;
      margin: 0 auto;
    }


    .waitlist2 {
        transform: translateY(20px) !important;
        transform: translateX(-40px) !important;
      }
    
    
   
/*   
    .about-content {
      transform: translateX(50px) !important;
    }
  
    .about-title {
      transform: translateX(132px) !important;
    }
  
    .learn-more-btn {
        transform: translateX(100%) !important;
    }
  } */