@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; /* Increased base font size */
}

/* General styling */
#waitlist-page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.content {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Increased padding for a larger box */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px; /* Reduced max-width for less horizontal stretch */
    width: 60%; /* Adjusted width to make the box less wide */
    
}

.form-container {
    width: 100%;
    max-width: 600px; /* Adjusted max-width for consistency */
    margin: auto;
}

.form-step {
    display: none;
}

.form-step label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.1em; /* Increased font size */
}

.form-step input {
    width: calc(100% - 20px);
    padding: 12px; /* Slightly increased padding for input fields */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em; /* Increased font size for input fields */
}

.next-btn, .back-btn, .submit-btn {
    display: inline-block;
    padding: 12px 24px; /* Slightly increased padding for buttons */
    background-color: #FF7F00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em; /* Increased font size for buttons */
}

.next-btn:hover, .back-btn:hover, .submit-btn:hover {
    background-color: #E66E00;
}

/* Background images rotation */
@keyframes background-rotation {
    0% { background-image: url(extra/pexels-reneterp-3887428.jpg); }
    50% { background-image: url(extra/pexels-bidvine-517980-1249611.jpg); }
    75% { background-image: url(extra/pexels-jeshoots-com-147458-834892.jpg); }
    100% { background-image: url(../extra/hero-background.jpg); }
}

#waitlist-page {
    animation: background-rotation 15s infinite;
}
